.normal_icon {
	width: 32px;
	height: 32px;
	padding: 4px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	@extend %hand;

	&._clear {
		background-image: url("../images/icon_clear.svg");
	}
}

.icon {
	flex: none;
	display: block;
	width: 32px;
	height: 32px;
	padding: 4px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	&._ai {
		background-image: url("../images/icon_ai.svg");
	}

	&+.front_filter {
		margin-left: 16px;
	}

	&._down {
		background-image: url("../images/icon_down.svg");
	}

	// .icon_sort
	&_sort {
		display: inline-block;
		width: 13px;
		height: 12px;
		background: url('../../assets/images/icon_sort_normal.svg')no-repeat center/contain;

		._asc & {
			background-image: url('../../assets/images/icon_asc.svg');
		}

		._desc & {
			background-image: url('../../assets/images/icon_desc.svg');
		}
	}
}

.normal_btn {
	height: 40px;
	padding: 0 14px;
	border-radius: 6px;
	@extend %hand;
	@extend %transition;

	&._generate {
		background-color: #00ea6d;

		@include hoverHandler {
			background-color: #00b956;
		}
	}

	&._download {
		margin-left: auto;
		margin-right: 8px;
		font-weight: 500;

		&:disabled {
			background-color: #C3C3C3;
			color: #858585;
			cursor: default;
		}
	}
}

.border_btn {
	min-width: 70px;
	padding: 4px;
	border-radius: 10px;
	border: 1px solid #FFF;
	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	@extend %hand;

	&:disabled {
		pointer-events: none;
		opacity: .5;
	}

	&._blue {
		color: #03A6FF;
		border-color: #03A6FF;
		text-align: center;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;

		@include hoverHandler {
			color: #fff;
			border-color: 1px solid #03A6FF;
			background-color: #03A6FF;
		}
	}
}

.alert {
	position: absolute;
	top: 0;
	left: 0;
	@include d_f(flex, center, center);
	width: 100%;
	height: 100%;
	background-color: rgba(39, 56, 63, 0.85);
	z-index: 10;

	// .alert_box
	&_box {
		overflow: hidden;
		@include d_f(flex);
		flex-direction: column;
		min-width: 582px;
		// min-height: 350px;
		max-height: 100%;
		border-radius: 12px;
		background-color: #fff;

		._loading & {
			padding-bottom: 44px;
		}
	}

	// .alert_head
	&_head {
		flex: none;
		@include d_f(flex, center, center);
		width: 100%;
		height: 60px;
		background-color: #27383f;
		color: #fff;
		text-align: center;
		font-size: 30px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: capitalize;
		// border-top-right-radius: 12px;
		// border-top-left-radius: 12px;
	}

	// .alert_body
	&_body {
		@include d_f(flex);
		flex-direction: column;
		width: 100%;
		height: 100%;
		flex: 1 1 100%;
		min-height: 50px;
	}

	// .alert_txt
	&_txt {
		width: 100%;
		max-width: 486px;
		height: 100%;
		margin: auto;
		padding: 40px 0;
		color: #000;
		text-align: center;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: capitalize;
	}

	.alert_func {
		flex: none;
		@include d_f(flex, center, center);
		padding-top: 30px;
		padding-bottom: 40px;
	}
}

.isBack {
	color: #879BA4;

	&::before {
		content: " - ";
		color: #00e374;
	}
}

.loading {
	width: 100px;
	height: 100px;
	clear: both;
	margin: 20px auto;

	// .loading_circle
	&_circle {
		border: 4px transparent solid;
		border-top: 4px #00ea6d solid;
		border-left: 4px #00ea6d solid;
		border-bottom: 4px #00ea6d solid;
		border-radius: 50%;
		-webkit-animation: spCircRot 0.6s infinite linear;
		animation: spCircRot 0.6s infinite linear;
	}

	@keyframes spCircRot {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(359deg);
		}
	}
}

.numBox {
	@include d_f(inline-flex);
	min-width: 160px;
	height: 40px;
	padding: 4px;
	background-color: #fff;
	border-radius: 8px;
	border: 1px solid rgba(7, 49, 70, 0.3);

	&_num,
	.normal_inp {
		@include d_f(flex, center, center);
		width: 85px;
		height: auto;
		text-align: center;
	}

	// .numBox_btn
	&_btn {
		position: relative;
		flex: none;
		width: 32px;
		height: 32px;
		padding: 8px;
		border-radius: 7px;
		background-color: rgba(7, 49, 70, 0.05);
		@extend %hand;

		i {
			display: block;
			width: 100%;
			height: 100%;
		}

		&._plus i {
			background: url("../images/icon_plus.svg") no-repeat center/contain;
		}

		&._minus i {
			background: url("../images/icon_minus.svg") no-repeat center/contain;
		}
	}
}

// .normal_inp
.normal_inp {
	display: inline-block;
	width: 100%;
	height: 40px;
	padding: 10px 12px;
	color: #05212e;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	border-radius: 8px;
}

.txtc {
	text-align: center;
}

.wrap {

	width: 100%;
	min-width: 1440px;
	height: 100%;

	&:not(._landing) {
		overflow: hidden;
	}

	&._landing {
		overflow-x: hidden;
	}
}

.header {
	@include d_f(flex, space-between, center);
	width: 100%;
	height: 60px;
	padding: 10px 20px;
	background-color: #27383f;

	&._landing {
		z-index: 10;
		position: fixed;
		top: 0;
		left: 0;
		background-color: transparent;

		&._on {
			background-color: #283041;
		}
	}

	// .header_title
	&_title {
		@include d_f(flex, none, center);
		color: #00E374;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		._landing & {
			color: #0076E3;
		}
	}

	.user {
		@include d_f(flex, center, center);

		color: #fff;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		&::before {
			content: "M0";
			@include d_f(flex, center, center);
			width: 28px;
			height: 28px;
			margin-right: 8px;
			color: #27383f;
			border-radius: 10px;
			background: #00ea6d;

			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
	}
}

.menu {
	@include d_f(flex, none, center);

	// .menu_li
	&_li {
		color: #fff;
		@extend %hand;

		&._try {
			color: #0076E3;

			@include hoverHandler {
				color: #fff;
			}
		}



		@include hoverHandler {
			color: #0076E3;
		}

		&+& {
			margin-left: 40px;

			&._btn {
				margin-left: 60px;
			}
		}

		&._disabled {
			pointer-events: none;
		}
	}
}

.logo {
	width: 36px;
	height: 36px;
	margin-right: 10px;
}

.normal_sort {
	@include d_f(flex, space-between, center);
	@extend %hand;

	.icon_sort {
		margin-left: 5px;


	}
}
.gotop {
	pointer-events: none;
	z-index: 2;
	position: fixed;
	right: 10px;
	bottom: 15%;
	display: block;
	width: 44px;
	height: 44px;
	padding: 5px;
	border-radius: 10px;
	opacity: 0.6;
	background: rgba(0, 0, 0, 0.70);
	opacity: 0;
	@extend %hand;

	&._on {
		pointer-events: auto;
		opacity: 1;
	}
}