.backend {
    @include d_f(flex);
    width: 100%;
    height: calc(100% - 60px);

    // .backend_content
    &_content {
        overflow-x: hidden;
        overflow-y: auto;
        @include d_f(flex);
        align-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin-right: 8px;
        padding: 15px;
    }

    // .backend_list
    &_list {
        overflow: hidden;
        @include d_f(flex);
        flex-direction: column;
        width: calc(50% - 10px);
        height: 214px;
        margin: 5px;
        border-radius: 12px;
        border: 1px solid #D6DFE2;
        background: #F3F3F3;

        &._desable {
            opacity: 0.3;
            pointer-events: none;
        }

        // .backend_list_info
        &_info {
            overflow: hidden;
            @include d_f(flex);
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 10px 6px 10px 20px;
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;

            span {
                overflow-x: hidden;
                overflow-y: auto;
                display: inline-block;
                width: 100%;
                height: 100%;
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
            }

            &::before {
                content: attr(data-num);
                display: block;
            }
        }

        // .backend_list_bot
        &_bot {
            flex: none;
            @include d_f(flex, none, center);
            width: 100%;
            height: 45px;
            padding: 6px 20px;
            background-color: #27383F;

            &::before,
            &::after {
                color: #fff;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                /* 21px */

            }

            &::before {
                content: attr(data-bef);
                margin-right: 8px;
            }

            &::after {
                content: attr(data-aft);
                margin-left: 8px;
            }

            input {
                width: 32px;
                height: 32px;
                padding: 7px;
                border-radius: 8px;
                background-color: #fff;
                box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.03);
                text-align: center;

                input[type=number]::-webkit-outer-spin-button,
                &[type=number]::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }


                /* Firefox */
                &[type=number] {
                    -moz-appearance: textfield;
                }
            }
        }
    }

    // .backend_filter
    &_filter {
        overflow-x: hidden;
        overflow-y: auto;
        flex: none;
        width: 272px;
        height: 100%;
        padding: 20px 10px;
        background-color: #324851;

        // .backend_filter_list
        &_list {
            .normal_btn {
                width: 100%;
            }

            &+& {
                margin-top: 25px;
            }

            &:after {
                content: attr(data-note);
                display: block;
                margin-top: 8px;
                color: #93B8C7;
                font-family: Archivo;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }
        }

        // .backend_filter_txt
        &_txt {
            margin-bottom: 8px;
            color: #FFF;
        }
    }



}