@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap");
.front_filter_item, .normal_btn {
  transition: all 0.3s ease-in-out;
}

.front_filter_item, .numBox_btn, .normal_btn, .normal_icon {
  cursor: pointer;
}

.normal_icon {
  width: 32px;
  height: 32px;
  padding: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.normal_icon._clear {
  background-image: url("../assets/images/icon_clear.svg");
}

.icon {
  flex: none;
  display: block;
  width: 32px;
  height: 32px;
  padding: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.icon._ai {
  background-image: url("../assets/images/icon_ai.svg");
}
.icon + .front_filter {
  margin-left: 16px;
}

.normal_btn {
  height: 40px;
  padding: 0 14px;
  border-radius: 6px;
}
.normal_btn._generate {
  background-color: #00EA6D;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_btn._generate:hover {
    background-color: #00B956;
  }
}
.normal_btn._generate:active {
  background-color: #00B956;
}

.alert {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 56, 63, 0.85);
  z-index: 10;
}
.alert_box {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-width: 582px;
  max-height: 100%;
  border-radius: 12px;
  background-color: #fff;
}
._loading .alert_box {
  padding-bottom: 44px;
}
.alert_head {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #27383F;
  color: #FFF;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.alert_body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1 1 100%;
  min-height: 50px;
}
.alert_txt {
  width: 100%;
  height: 100%;
  padding: 30px 0;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.alert .alert_func {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.loading {
  width: 100px;
  height: 100px;
  clear: both;
  margin: 20px auto;
}
.loading_circle {
  border: 4px transparent solid;
  border-top: 4px #00EA6D solid;
  border-left: 4px #00EA6D solid;
  border-bottom: 4px #00EA6D solid;
  border-radius: 50%;
  animation: spCircRot 0.6s infinite linear;
}
@keyframes spCircRot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.numBox {
  display: inline-flex;
  min-width: 160px;
  height: 40px;
  padding: 4px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(7, 49, 70, 0.3);
}
.numBox .normal_inp {
  width: 85px;
  height: auto;
  text-align: center;
}
.numBox_btn {
  position: relative;
  flex: none;
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 7px;
  background-color: rgba(7, 49, 70, 0.05);
}
.numBox_btn i {
  display: block;
  width: 100%;
  height: 100%;
}
.numBox_btn._plus i {
  background: url("../assets/images/icon_plus.svg") no-repeat center/contain;
}
.numBox_btn._minus i {
  background: url("../assets/images/icon_minus.svg") no-repeat center/contain;
}

.normal_inp {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 10px 12px;
  color: #05212E;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border-radius: 8px;
}

.txtc {
  text-align: center;
}

.wrap {
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  background-color: #27383F;
}
.header_title {
  color: #00E374;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .user {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .user::before {
  content: "M0";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin-right: 8px;
  color: #27383F;
  border-radius: 10px;
  background: #00EA6D;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.front {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 60px);
  padding: 20px;
}
.front_content {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
}
.front_msg {
  display: flex;
  flex-direction: column;
  width: 680px;
  height: 100%;
}
.front_textarea {
  position: relative;
  flex: none;
  width: 680px;
  height: 290px;
  margin-bottom: 20px;
  padding: 10px 20px 15px;
  border-radius: 12px;
  background-color: #27383F;
}
.front_textarea::before, .front_textarea::after {
  content: "";
  position: absolute;
  display: block;
  width: 55px;
  height: 27px;
  background: url("../assets/images/t_down.svg") no-repeat center/contain;
}
.front_textarea::before {
  top: 0;
  bottom: 0;
  right: -35px;
  margin: auto 0;
  transform: rotate(-90deg);
}
.front_textarea::after {
  left: 0;
  right: 0;
  bottom: -20px;
  margin: 0 auto;
}
.front_textarea textarea {
  width: 100%;
  height: 182px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 12px;
  background-color: #324851;
  resize: none;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.front_textarea textarea::-moz-placeholder {
  color: #879BA4;
}
.front_textarea textarea::placeholder {
  color: #879BA4;
}
.front_textarea_title {
  margin-bottom: 10px;
  color: #879BA4;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.front_textarea_func {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.front_info {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #D6DFE2;
  background-color: #F3F3F3;
}
.front_info_head {
  display: flex;
}
.front_info_content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
.front_info_list + .front_info_list {
  margin-top: 16px;
}
.front_filter {
  display: flex;
  flex-wrap: wrap;
}
.front_filter_item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-right: 6px;
  margin-bottom: 10px;
  padding: 0 10px;
  border-radius: 40px;
  background-color: #D0D0D0;
  color: #6E6E6E;
  font-size: 14px;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .front_filter_item:hover {
    background-color: #A5A5A5;
  }
}
.front_filter_item:active {
  background-color: #A5A5A5;
}
.front_filter_item.on {
  color: #06D569;
  background: #2E4249;
}
.front_detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #D6DFE2;
  background-color: #F3F3F3;
}
.front_detail_head {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-wrap: wrap;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.front_detail_head .icon {
  margin-right: 16px;
  margin-bottom: 5px;
}
.front_detail_head .front_filter {
  width: 100%;
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 0;
}
.front_detail_content {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.front_detail_content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 16px);
  height: 1px;
  background-color: #CBD5E1;
  z-index: 1;
}
.front_detail .front_detail_tbScroll {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding-right: 8px;
}
.front_detail_tb {
  position: relative;
  width: 100%;
  border: 1px solid #CBD5E1;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: #FFF;
}
.front_detail_tb th {
  position: sticky;
  top: 0px;
  padding: 12px 4px;
  background-color: #DDF5E2;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #CBD5E1;
  border-right: 1px solid #CBD5E1;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: Inter;
}
.front_detail_tb th:nth-child(1) {
  width: 50px;
}
.front_detail_tb th:nth-child(2) {
  width: 50px;
}
.front_detail_tb th:nth-child(5) {
  width: 60px;
}
.front_detail_tb th:nth-child(3), .front_detail_tb th:nth-child(4) {
  width: 50%;
}
.front_detail_tb td {
  padding: 12px 4px;
  border-right: 1px solid #CBD5E1;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: Inter;
}
.front_detail_tb td:nth-child(2) {
  text-decoration-line: underline;
  color: #008A40;
}
.front_detail_tb td:nth-child(1), .front_detail_tb td:nth-child(2), .front_detail_tb td:nth-child(5) {
  text-align: center;
}
.front .front_footer {
  width: 100%;
  margin-top: 10px;
  color: #879BA4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.backend {
  display: flex;
  width: 100%;
  height: calc(100% - 60px);
}
.backend_content {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-right: 8px;
  padding: 15px;
}
.backend_list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px);
  height: 214px;
  margin: 5px;
  border-radius: 12px;
  border: 1px solid #D6DFE2;
  background: #F3F3F3;
}
.backend_list._desable {
  opacity: 0.3;
  pointer-events: none;
}
.backend_list_info {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px 6px 10px 20px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.backend_list_info span {
  overflow-x: hidden;
  overflow-y: auto;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.backend_list_info::before {
  content: attr(data-num);
  display: block;
}
.backend_list_bot {
  flex: none;
  display: flex;
  justify-content: none;
  align-items: center;
  width: 100%;
  height: 45px;
  padding: 6px 20px;
  background-color: #27383F;
}
.backend_list_bot::before, .backend_list_bot::after {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
}
.backend_list_bot::before {
  content: attr(data-bef);
  margin-right: 8px;
}
.backend_list_bot::after {
  content: attr(data-aft);
  margin-left: 8px;
}
.backend_list_bot input {
  width: 32px;
  height: 32px;
  padding: 7px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.03);
  text-align: center;
  /* Firefox */
}
.backend_list_bot input input[type=number]::-webkit-outer-spin-button, .backend_list_bot input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.backend_list_bot input[type=number] {
  -moz-appearance: textfield;
}
.backend_filter {
  overflow-x: hidden;
  overflow-y: auto;
  flex: none;
  width: 272px;
  height: 100%;
  padding: 20px 10px;
  background-color: #324851;
}
.backend_filter_list .normal_btn {
  width: 100%;
}
.backend_filter_list + .backend_filter_list {
  margin-top: 25px;
}
.backend_filter_list:after {
  content: attr(data-note);
  display: block;
  margin-top: 8px;
  color: #93B8C7;
  font-family: Archivo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.backend_filter_txt {
  margin-bottom: 8px;
  color: #FFF;
}/*# sourceMappingURL=all.css.map */